<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sharkCol1</key>
		<string>Shark!</string>
		<key>sharkCol2</key>
		<string>shark</string>
		<key>sharkCol3</key>
		<string>Shark</string>
	</dict>
	<dict>
		<key>bearCol6</key>
		<string>bear bear bear</string>
		<key>bearCol5</key>
		<string>bear bear</string>
		<key>bearCol4</key>
		<string>Also bear</string>
		<key>bearCol1</key>
		<string>It&apos;s a bear!</string>
		<key>bearCol2</key>
		<string>A happy brown bear</string>
		<key>bearCol3</key>
		<string>Bear</string>
	</dict>
	<dict>
		<key>lionCol1</key>
		<string>lion</string>
		<key>lionCol2</key>
		<string>Lion</string>
		<key>lionCol3</key>
		<string>Lion!</string>
	</dict>
	<dict>
		<key>wolfCol1</key>
		<string>wolf</string>
		<key>wolfCol2</key>
		<string>Wolf</string>
		<key>wolfCol3</key>
		<string>Wolf!</string>
	</dict>
</array>
</plist>
