<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bearCol6</key>
		<string>Bears are bad at camoflauge</string>
		<key>bearCol5</key>
		<string>They are friends</string>
		<key>bearCol4</key>
		<string>Rocks need hugs too</string>
		<key>bearCol1</key>
		<string>He is very fluffy</string>
		<key>bearCol2</key>
		<string>This bear is sleepy</string>
		<key>bearCol3</key>
		<string>Bears like to sleep</string>
	</dict>
</array>
</plist>
