<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sharkCol1</key>
		<string>Jim and Shark are friends</string>
		<key>sharkCol2</key>
		<string>This shark skipped lunch</string>
		<key>sharkCol3</key>
		<string>This shark is glowing</string>
	</dict>
</array>
</plist>
