<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wolfCol1</key>
		<string>This is a chilly wolf</string>
		<key>wolfCol2</key>
		<string>Sweet Puppers</string>
		<key>wolfCol3</key>
		<string>He is hangry</string>
	</dict>
</array>
</plist>
